h1.design {
	font-family:helvetica;
	font-size: 70px;
	font-weight:bold;
	color:white;
	text-align:center;
	position:absolute;
	top:-5%;
	z-index: 1;
	text-align:center;
	width:100%;
}

.background img {
	margin:center;
	width:100%;
	height:100%;
	display:inline-block;
	position: relative;
}

 .background {
	width:100%;
	height:100%;
}

.nav {
	color:white;
	text-align:center;
	position:absolute;
	top:17%;
	z-index:1;
	font-size:18px;
	font-weight:bold;
}

.smallimg {
	text-align: center;
}

.smallimg img {
	height:150px;
	width: 150px;
}

h1,#process {
	font-family: helvetica;
	font-size:32px;
	font-weight:bold;
}

#main{
	font-family:helvetica;
	font-size:23px;
	font-weight:bold;
}

#p{
	font-family: helvetica;
	font-size:14px;
}

.minibackground {
	width:100%;
	height:100%;
}

.minibackground text{
top:0%;
position: absolute;
text-align: center;
}

.minibackground img {
	margin:center;
	width:100%;
	height:30px;
	display:inline-block;
	position: relative;
}

#ny {
	font-family:helvetica;
	font-size: 23px;
	font-weight:bold;
	color:white;
	position:absolute;
	bottom: -89%;
	z-index: 1;
	text-align:center;
	width:100%;
}

.last{
text-align: center;
}

#footer{
	font-family:helvetica;
	font-size:14px;
	color:white;
	background-color:dimgray;
}

a{
	color:white;
}